body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* Remove default margin to prevent body from pushing the fixed element */
}

#chat-room {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; /* Set position relative to make it the reference point for the fixed element */
}

.chat-header {
    padding: 10px;
    background-color: #343a40;
    color: white;
}

.input-group {
    position: fixed;
    bottom: 0; /* Stick to the bottom of the viewport */
    left: 0; /* Adjust left positioning if needed */
    right: 0; /* Adjust right positioning if needed */
    margin: 10px;
    background-color: white; /* Set background color */
    border-top: 1px solid #ccc; /* Add a border at the top for separation */
    padding: 10px;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1); /* Add a shadow at the top for separation effect */
}

.top-left-messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; /* Ensure the table stretches to fill the space */
    /* Additional styles as needed (e.g., font, padding) */
}
