<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
</head>
<body>
    <div class="cursor"></div>
    <div class="main">
        <div class="page1">
            <div id="nav">
                <!-- <img src="images/duo.png" alt="">
                <div id="nav-part2">
                    <h4>Home</h4>
                    <h4>Work</h4>
                    <h4>Studio</h4>
                    <h4>Contact</h4> -->
                <!-- </div> -->
                <!-- <div id="nav-part3">
                    <div id="circle"></div>
                </div> -->
            </div>
            <h1>Digitally crafted</h1>
            <h2>roadmaps for you</h2>
            <video autoplay muted loop src="https://player.vimeo.com/external/324597323.sd.mp4?s=1c76afc658a0f38cc1a464c9777103b9225127db&profile_id=164&oauth2_token_id=57447761"></video>
        </div>
        <div class="page2">
            <h1>We are Roadmap Providers,</h1>
            <div class="page2-container">
                <div class="page2-left">
                    <h2>A CREATIVE COLLECTIVE MADE TO UNLOCK YOUR CAREER'S POTENTIAL</h2>
                </div>
                <div class="page2-right">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, fugit eligendi eveniet quidem cum minima quasi in quae enim exercitationem totam rerum inventore, provident perspiciatis explicabo beatae consequatur iste odio!</p>
                    <button>About us</button>
                </div>
            </div>
        </div>
        <div class="page3">
            <h1>Trending Fields</h1>
            <div class="page3-part1">
                <img src="https://images.unsplash.com/photo-1557933488-c8daa2a5772c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8YXJ0aXN0aWN8ZW58MHx8MHx8fDA%3D" alt="">
                <video autoplay loop muted src="https://player.vimeo.com/external/561971096.sd.mp4?s=0872fe7c0e559361102e7d9e2950f8c82fb08b84&profile_id=164&oauth2_token_id=57447761"></video>
            </div>
            <div class="page3-part2">
                <video autoplay loop muted src="https://player.vimeo.com/external/538582091.sd.mp4?s=9bc2a8af8a423cd59c7d77e52869a95b11f0fbd6&profile_id=164&oauth2_token_id=57447761"></video>
                <img src="https://plus.unsplash.com/premium_photo-1673470370440-d35ad655249e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzN8fGFydGlzdGljfGVufDB8fDB8fHww" alt="">
            </div>
        </div>
        <div class="page4">
            <div class="elem">
                <img src="https://plus.unsplash.com/premium_photo-1669652639356-f5cb1a086976?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bGVhcm58ZW58MHx8MHx8fDA%3D" alt="">
                <div class="text-div">
                    <h1>Learn</h1>
                    <h1>Learn</h1>
                </div>
                <img src="https://images.unsplash.com/photo-1611348586755-53860f7ae57a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGVhcm58ZW58MHx8MHx8fDA%3D" alt="">
            </div>
            <div class="elem">
                <img src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW5ub3ZhdGV8ZW58MHx8MHx8fDA%3D" alt="">
                <div class="text-div">
                    <h1>Innovate</h1>
                    <h1>Innovate</h1>
                </div>
                <img src="https://images.unsplash.com/photo-1635186646209-962eddb4d094?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8aW5ub3ZhdGV8ZW58MHx8MHx8fDA%3D" alt="">
            </div>
            <div class="elem">
                <img src="https://images.pexels.com/photos/5673488/pexels-photo-5673488.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
                <div class="text-div">
                    <h1>Achieve</h1>
                    <h1>Achieve</h1>
                </div>
                <img src="https://images.pexels.com/photos/6370114/pexels-photo-6370114.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            </div>
        </div>
        <div class="page5">
            <h2>Mentions Clients</h2>
            <div class="box" data-image="https://images.unsplash.com/photo-1705520354282-a20508c1781f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDQ4fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D">
                <h3>Verizon</h3>
                <h4>2021</h4>
            </div>
            <div class="box" data-image="https://images.unsplash.com/photo-1705520354282-a20508c1781f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDQ4fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D">
                <h3>Verizon</h3>
                <h4>2021</h4>
            </div>
            <div class="box" data-image="https://images.unsplash.com/photo-1705520354282-a20508c1781f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDQ4fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D">
                <h3>Verizon</h3>
                <h4>2021</h4>
            </div>
            <div class="box" data-image="https://images.unsplash.com/photo-1705520354282-a20508c1781f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDQ4fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D">
                <h3>Verizon</h3>
                <h4>2021</h4>
            </div>
            <div class="box" data-image="https://images.unsplash.com/photo-1705520354282-a20508c1781f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDQ4fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D">
                <h3>Verizon</h3>
                <h4>2021</h4>
            </div>
            <div class="box" data-image="https://images.unsplash.com/photo-1705520354282-a20508c1781f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDQ4fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D">
                <h3>Verizon</h3>
                <h4>2021</h4>
            </div>
        </div>
        <footer></footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:src="@{/js/about.js}"></script>
</body>
</html>