<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Stack Developer</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <!-- Include the PDF.js library -->
    
</head>
<body th:each="aero : ${aeroList}">
    <header class="header">    
        <div class="header__container">
           
            <div class="header__links">
                <a href="#" class="header__link">Home</a>
                <a href="#" class="header__link">Questions</a>
               
            </div>
        </div>  
    </header>

    <main class="main">
        <div class="main__container">
            <div class="main__title">
           <!--      <h2><span th:text="${aero.jobField}"></span></h2> -->
                <p>Step by step guide for your career</p>
            </div>
            <!-- Container for displaying PDF content -->
           
 </div>
            <!-- Embedding PDF directly using <embed> tag -->
     <!--       <embed th:src="@{/file/{pdfName}(pdfName=${aero.file})}" type="application/pdf" width="100%" height="600px"/> -->
      <embed th:src="@{/files/BIO.pdf}" type="application/pdf" width="100%" height="600px"/>
        </div>
        
    </main>
</body>
</html>
