<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="style3.css" th:href="@{/css/style3.css}">
</head>

<body>
    <div id="main">
        <div id="def">
            <h1>Engineering</h1>
            <p>Engineering is the strategic application of scientific and mathematical principles to conceive, design,
                and construct innovative solutions for real-world challenges. It involves a systematic and creative
                process of problem-solving, aiming to optimize efficiency, functionality, and safety. Engineers utilize
                their expertise to develop diverse structures, devices, systems, and processes, ranging from bridges and
                electronics to software and medical equipment. Through rigorous analysis and experimentation, engineers
                ensure their creations meet specifications, adhere to standards, and address societal needs. Engineering
                spans various disciplines, such as civil, mechanical, electrical, and aerospace, each contributing
                specialized knowledge to shape the world we live in, drive technological advancements, and enhance the
                quality of human life.</p>
            <hr>
        </div>
        <div id="head2">
            <h2>Fields in Engineering</h2>
        </div>
        <div id="sbar">
            <input type="text" placeholder="Search your field">
        </div>
        <div class="fields">
         
            <div id="row1">
                <button th:onclick="window.location.href='/explore2'">Computer</button>
                <button>Civil</button>
                <button>Aeronautical</button>
                <button>Mechanical</button>
                <button>Electrical</button>
            </div>
           
        </div>
    </div>
    <script src="script3.js"></script>
</body>

</html>