<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/index5.css}">
</head>
<body>
    <header>
        <nav>
            <a href="">Home</a>
            <a href="">Contacts</a>
            <a href="">Info</a>
            <input type="text" placeholder="Search your job role">
        </nav>
    </header>

    <!-- carousel -->
    <div class="carousel">
        <!-- list item -->
        <div class="list">
            <div class="item">
                <img src="img/hw.jpg">
                <div class="content">
                    <!-- <div class="author">LUNDEV</div> -->
                    <div class="title">COMPUTER</div>
                    <div class="topic">HARDWARE</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        <p>Hardware engineering is the discipline of creating and optimizing physical components for electronic systems. It encompasses designing, prototyping, and testing circuits, processors, and other hardware elements. Engineers focus on performance, reliability, and efficiency, contributing to the development of diverse technologies from computers and smartphones to embedded systems and IoT devices.</p>
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/es.jpg">
                <div class="content">
                    <!-- <div class="author">LUNDEV</div> -->
                    <div class="title">COMPUTER</div>
                    <div class="topic">EMBEDDED SYSTEM</div>
                    <div class="des">
                        <p>Embedded system engineering involves designing and developing specialized computer systems integrated into devices to perform dedicated functions. Engineers in this field focus on hardware-software co-design, real-time computing, and optimization for specific tasks, ensuring reliability and efficiency in applications ranging from consumer electronics and automotive systems to industrial machinery.</p>
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/network.jpg">
                <div class="content">
                    <!-- <div class="author">LUNDEV</div> -->
                    <div class="title">COMPUTER</div>
                    <div class="topic">NETWORK ENGINEER</div>
                    <div class="des">
                        <p>Network engineering involves designing, implementing, and managing computer networks. Professionals in this field configure routers, switches, and other network devices, ensuring seamless data communication. They troubleshoot connectivity issues, optimize network performance, and stay updated on evolving technologies to create robust and efficient communication infrastructures for organizations.</p>
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/robo.jpg">
                <div class="content">
                    <!-- <div class="author">LUNDEV</div> -->
                    <div class="title">COMPUTER</div>
                    <div class="topic">ROBOTICS</div>
                    <div class="des">
                        <p>Robotics engineering involves designing, building, and programming robots to perform tasks autonomously or assist humans. It combines mechanical, electrical, and computer science principles to create intelligent machines. Robotics engineers develop innovative technologies for industries like manufacturing, healthcare, and exploration, advancing automation and enhancing efficiency in various fields.</p>
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/sw.jpg">
                <div class="content">
                    <!-- <div class="author">LUNDEV</div> -->
                    <div class="title">COMPUTER</div>
                    <div class="topic">SOFTWARE</div>
                    <div class="des">
                        <p>Software engineering is a systematic approach to designing, developing, testing, and maintaining software systems. It involves applying engineering principles to create reliable, efficient, and scalable software solutions. Collaboration, problem-solving, and continuous improvement are key aspects, ensuring the delivery of high-quality products that meet user needs and industry standards.</p>
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <!-- <div class="item">
                <img src="image/front-end.jpg">
                <div class="content"> -->
                    <!-- <div class="author">LUNDEV</div> -->
                    <!-- <div class="title">COMPUTER</div>
                    <div class="topic">FRONT-END</div>
                    <div class="des">
                        <p>Front-end engineering involves designing and implementing the user interface and user experience of a website or application. It encompasses the use of HTML, CSS, and JavaScript to create visually appealing and responsive interfaces, ensuring seamless interaction between users and digital products for an enhanced and intuitive user experience.</p>
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div> -->
            <!-- <div class="item">
                <img src="image/back-end.jpg">
                <div class="content"> -->
                    <!-- <div class="author">LUNDEV</div> -->
                    <!-- <div class="title">COMPUTER</div>
                    <div class="topic">BACK-END</div>
                    <div class="des">
                        <p>Back-end engineering involves developing server-side logic and databases that power websites and applications. It focuses on server management, database design, and ensuring seamless communication between the user interface and server. Back-end engineers work with languages like Java, Python, and Ruby to handle data processing, security, and overall functionality.</p>
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div> -->
            <div class="item">
                <img src="img/full-stack.jpg">
                <div class="content">
                    <!-- <div class="author">LUNDEV</div> -->
                    <div class="title">COMPUTER</div>
                    <div class="topic">FULL STACK</div>
                    <div class="des">
                        <p>Full-stack engineering involves developing both front-end (user interface) and back-end (server-side) components of software applications. It requires expertise in various technologies, frameworks, and languages to create seamless and functional systems. Full-stack engineers handle the entire development process, from designing user interfaces to managing databases and server infrastructure.</p>
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/app dev.jpg">
                <div class="content">
                    <!-- <div class="author">LUNDEV</div> -->
                    <div class="title">COMPUTER</div>
                    <div class="topic">APP DEVELOPMENT</div>
                    <div class="des">
                        <p>App development engineering involves designing, coding, testing, and optimizing software applications for various platforms. It encompasses the entire development lifecycle, requiring expertise in programming languages, frameworks, and user interface design. Engineers collaborate to create efficient, user-friendly apps, addressing functionality, performance, and security to meet user needs and industry standards.</p>
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="img/hw.jpg">
                <div class="content">
                    <div class="title">
                        Computer
                    </div>
                    <div class="description">
                        Hardware
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/es.jpg">
                <div class="content">
                    <div class="title">
                        Computer
                    </div>
                    <div class="description">
                        Embedded System
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/network.jpg">
                <div class="content">
                    <div class="title">
                        Computer
                    </div>
                    <div class="description">
                        Network
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/robo.jpg">
                <div class="content">
                    <div class="title">
                        Computer
                    </div>
                    <div class="description">
                        Robotics
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/sw.jpg">
                <div class="content">
                    <div class="title">
                        Computer
                    </div>
                    <div class="description">
                        Software
                    </div>
                </div>
            </div>
            <!-- <div class="item">
                <img src="image/front-end.jpg">
                <div class="content">
                    <div class="title">
                        Computer
                    </div>
                    <div class="description">
                        Front-end
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="image/back-end.jpg">
                <div class="content">
                    <div class="title">
                        Computer
                    </div>
                    <div class="description">
                        Back-end
                    </div>
                </div>
            </div> -->
            <div class="item">
                <img src="img/full-stack.jpg">
                <div class="content">
                    <div class="title">
                        Computer
                    </div>
                    <div class="description">
                        Full Stack
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="img/app dev.jpg">
                <div class="content">
                    <div class="title">
                        Computer
                    </div>
                    <div class="description">
                        App Developer
                    </div>
                </div>
            </div>
        </div>
        <!-- next prev -->

        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- time running -->
        <div class="time"></div>
    </div>

    <script th:src="@{/js/index5.js}"></script>
</body>
</html>